# Brock Huskisson
## Week 8 10/13/2020
### Python Functions - Continued

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [5]:
full_name('Brock','Huskisson')

'Brock Huskisson'

In [14]:
# find a prime number
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range (2, num):
        if num%n == 0:
            return str(num) + ' is not prime'
    else:
        return str(num) + ' is prime'

In [13]:
is_prime(18)

'18 is not prime'

In [20]:
# find a prime number
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range (2, num):
        if num%n == 0:
            print(num, 'is not prime')
            break
    else:
        print(num, 'is prime')

In [21]:
is_prime(15)

15 is not prime

In [22]:
is_prime(7)

7 is prime

In [23]:
is_prime(11)

11 is prime

In [29]:
#min_two_odds(3, 5) -> 3
#min_two_odds(4,9)

def min_two_odds(num1,num2):
    if (num1 % 2 != 0) and (num2 % 2 != 0):
        return min (num1, num2)
    else:
        return max(num1, num2)
#         if num1 < num2:
#             return num1
#         else:
#             return num2

In [30]:
min_two_odds(3, 5)

3

In [31]:
min_two_odds(4, 9)

9

In [40]:
#check if two word string starts with the same letter
def two_words_letters(txt):
    wordlist = txt.split()
    word1 = wordlist[0]
    word2 = wordlist[1]
    return word1[0] == word2[0]

In [41]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [42]:
two_words_letters('Python Program')

True

In [43]:
two_words_letters('Java Program')

False

In [49]:
#reduce
def two_words_letters(txt):
    wordlist = txt.split()
    return wordlist[0][0] == wordlist[1][0]

In [51]:
two_words_letters('Brock Huskisson')

False

In [52]:
two_words_letters('Python Program')

True

In [55]:
#create_thirty(10,20) -> true
#create_thirty(5,30) -> true
#create_thirty(5,20) -> false

def thirty(n1,n2):
    if n1 + n2 == 30 or n1 == 30 or n2 == 30:
        return True
    else:
        return False

In [56]:
thirty(10,20)

True

In [57]:
thirty(5,30)

True

In [58]:
thirty(5,20)

False

In [62]:
#'Programming' --> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [66]:
part1 = w[:3].capitalize()

In [67]:
part2 = w[3:].capitalize()

In [68]:
part1 + part2

'MacDonald'

In [73]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'sorry, the word is too small'

In [74]:
caps_two_letters('program')

'ProGram'

In [75]:
caps_two_letters('macdonald')

'MacDonald'

In [76]:
caps_two_letters('cis')

'sorry, the word is too small'

In [19]:
#Reverse a statement
lst = 'I am home'
lst.split()

['I', 'am', 'home']

In [17]:
lst

'I am home'

In [14]:
lst.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [8]:
lst

['home', 'am', 'I']

In [9]:
' '.join(lst)

'home am I'

In [20]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(lst.split()[::-1])

In [21]:
rv_stat('I am home')

'home am I'

In [22]:
# check if a list has number 5 next to number 5 somewhere in the list
# [3,4,5,5,10] -> true
# [3,4,5,6,5,8] -> false

In [27]:
def has_55(lst):
    for i in range(0,len(lst)-1):
        #if lst[i] == 5 and lst[i+1] == 5:
        if lst[i:i+2] == [5,5]:
            return True
        
    return False

In [28]:
has_55([3,4,5,5,10])

True

In [29]:
has_55([3,4,5,6,5,8])

False

In [32]:
# check code 001 in a list
# [1,4,5,0,0,1,8] -> true
# [1,0,2,5,0,6,1,8] -> true
# [1,5,6,0,6,7,8,0] -> false

def check_code(lst):
    code = [0,0,1,'s']
    
    for num in lst:
        if num == code[0]:
            code.pop(0) # remove the number at index 0
            
    return len(code) == 1

In [33]:
check_code([1,4,5,0,0,1,8])

True

In [34]:
check_code([1,0,2,5,0,6,1,8])

True

In [35]:
check_code([1,5,6,0,6,7,8,0])

False

In [36]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [37]:
code.pop(0)
code

[1, 's']

In [38]:
# number of arguments 
def full_name(fname,lname):
    print(fname + " " + lname)
    
full_name('Mady', 'Mo')

Mady Mo

In [40]:
def full_name(*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + " " + names[1])
    
full_name('Madison', 'Montgomery')

Madison Montgomery

In [41]:
full_name('Jon')

Jon

In [45]:
def sum_nums(a,b):
    return sum((a,b))

In [46]:
sum_nums(10,15)

25

In [48]:
sum_nums(15)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [55]:
def sum_nums(*n):
    return sum(n) * 0.1

In [56]:
sum_nums(15)

1.5

In [57]:
sum_nums(15,10,9)

3.4000000000000004

In [63]:
def my_kids(child1,child2,child3):
    print("my first child " + child1 + ", my second child " + child2 + ", my third child " + child3 )

In [64]:
my_kids('Brock','Mady', 'Mo Bamba')

my first child Brock, my second child Mady, my third child Mo Bamba

In [66]:
my_kids('John','Walter', 'Wayland')

my first child John, my second child Walter, my third child Wayland

In [67]:
my_kids(child2 = "Jon", child1 = "Emil", child3 = "Alice")

my first child Emil, my second child Jon, my third child Alice

In [4]:
def my_food(**food):
    if 'fruit' in food:
        print("My favorite fruit is {}".format(food['fruit']))
    else:
        print("I do not like fruit")
        
my_food(fruit = 'Apple')

My favorite fruit is Apple

In [5]:
my_food()

I do not like fruit

In [8]:
def my_func(*food, **fruits):
    if 'fruit' and 'juice' in fruits:
        print(f"I l like {' and '.join(food)} and my favorite fruit is {fruits['fruit']}")
        print(f"I also like to have some {fruits['juice']} juice after dinner")
    else:
        pass
    
my_func('eggs', 'milk', fruit='Cherry', juice ="Orange")

I l like eggs and milk and my favorite fruit is Cherry
I also like to have some Orange juice after dinner

In [9]:
#Scope of variables

num = 10

def print_value():
    num = 20
    return num

print(num)

10

In [10]:
print(print_value())

20

In [11]:
print(num)

10

In [16]:
name = 'My global name is Ramadan'

def my_greeting():
    name = 'Rama'
    
    print("Hello " + name)

In [17]:
my_greeting()

Hello Rama

In [18]:
print(name)

My global name is Ramadan

In [21]:
v = 10

def my_change(v):
    print('v = ', v)
    v = 50
    print('Changed local v inside the function to ', v)
    
my_change(v)

v =  10
Changed local v inside the function to  50

In [22]:
print(v)

10

In [23]:
print('v is still', v)

v is still 10

In [27]:
#Changing the global variable inside a function
x = 10

def my_change():
    global x
    print('x before changing it inside the function = ', x)
    x = 50
    print('Changed local value x, inside the function to ', x)

print('Value of x before a function call is', x)
my_change()
print('Value of x after a function call is', x)

Value of x before a function call is 10
x before changing it inside the function =  10
Changed local value x, inside the function to  50
Value of x after a function call is 50

In [26]:
print('Value of x after a function call is', x)

Value of x after a function call is 50